<div class="col-lg-12">

    <div class="row col-lg-12 page-header">
        <h1 class="visible-md visible-lg"><img ng-src="images/calendar.png" height="64" width="64">Consulta de Turnos</h1>
        <h3 class="visible-xs visible-sm">Consulta de Turnos</h3>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Búsqueda</h4>
            </div>
            <div class="panel-body">
                <form ng-submit="vmTurnos.getTurno()">
                    <div class="form-group">
                        <div class="radio radio-inline">
                            <label><input type="radio" ng-model="vmTurnos.searchBy" value="C">Contenedor</label>
                            <label><input type="radio" ng-model="vmTurnos.searchBy" value="P">Patente</label>
                        </div>
                    </div>
                    <div class="form-group col-md-10 visible-lg visible-md" ng-if="vmTurnos.searchBy == 'C'">
                        <div class="input-group">
                            <span class="input-group-addon"> Contenedor</span>
                            <input type="text" class="form-control" autocomplete="off" uib-typeahead="contenedor for contenedor in vmTurnos.containersList | filter: $viewValue | limitTo: 15" name="contenedorInput" ng-model="vmTurnos.containerSearch" toupper ng-required="true" typeahead-on-select="vmTurnos.getTurno()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vmTurnos.containerSearch = ''">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-10 visible-lg visible-md" ng-if="vmTurnos.searchBy == 'P'">
                        <div class="input-group">
                            <span class="input-group-addon"> Patente</span>
                            <input type="text" class="form-control" autocomplete="off" uib-typeahead="patente for patente in vmTurnos.patentesList | filter: $viewValue | limitTo: 15" name="patenteInput" ng-model="vmTurnos.patenteSearch" toupper ng-required="true" typeahead-on-select="vmTurnos.getTurno()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vmTurnos.patenteSearch = ''">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-10 visible-xs visible-sm" ng-if="vmTurnos.searchBy == 'C'">
                        <div class="input-group">
                            <input style="font-size: 8pt" type="text" name="contenedorInput" autocomplete="off" uib-typeahead="contenedor for contenedor in vmTurnos.containersList | filter: $viewValue | limitTo: 15" class="form-control input-sm" ng-model="vmTurnos.containerSearch" placeholder="Contenedor" toupper ng-required="true" typeahead-on-select="vmTurnos.getTurno()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default" ng-click="vmTurnos.containerSearch = ''">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-10 visible-xs visible-sm" ng-if="vmTurnos.searchBy == 'P'">
                        <div class="input-group">
                            <input style="font-size: 8pt" type="text" name="patenteInput" autocomplete="off" uib-typeahead="patente for patente in vmTurnos.patentesList | filter: $viewValue | limitTo: 15" class="form-control input-sm" ng-model="vmTurnos.patenteSearch" placeholder="Patente" toupper ng-required="true" typeahead-on-select="vmTurnos.getTurno()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default" ng-click="vmTurnos.patenteSearch = ''">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-2 visible-md visible-lg">
                        <div class="input-group center-block">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                        </div>
                    </div>
                    <div class="form-group col-xs-2 visible-xs visible-sm">
                        <div class="input-group">
                            <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>

                <div ng-if="vmTurnos.turnos.length>0" class="table-responsive">
                    <table class="table table-bordered" style="text-align: center">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center text-middle" rowspan="2">Terminal</th>
                            <th class="text-center text-middle" colspan="3" rowspan="2">Turno</th>
                            <th class="text-center text-middle" rowspan="2">Buque</th>
                            <th class="text-center text-middle" rowspan="2">Viaje</th>
                            <th class="text-center text-middle" rowspan="2">Contenedor</th>
                            <th class="text-center text-middle" colspan="4">Transporte</th>
                            <th class="text-center text-middle" rowspan="2">Tipo</th>
                            <th class="text-center text-middle" rowspan="2">Alta</th>
                            <th class="text-center text-middle" rowspan="2">E-Mail</th>
                            <th class="text-center text-middle" colspan="3" rowspan="2">Verificación</th>
                        </tr>
                        <tr class="bg-primary">
                            <td class="text-center">Patente</td>
                            <td class="text-center">DNI</td>
                            <td class="text-center">Celular</td>
                            <td class="text-center">Gate Pass</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="turno in vmTurnos.turnos" class="text-small">
                            <td>{{ turno.terminal }}</td>
                            <td>{{ turno.inicio | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ turno.inicio | date: 'HH:mm' }}</td>
                            <td>{{ turno.fin | date: 'HH:mm' }}</td>
                            <td>{{ turno.buque }}</td>
                            <td>{{ turno.viaje }}</td>
                            <td>{{ turno.contenedor }}</td>
                            <td>
                                <a href ng-if="vmTurnos.patenteDataFlag" ng-click="vmTurnos.detalleCamion()"><i class="glyphicon glyphicon-info-sign"></i> {{ turno.transporte.camion }}</a>
                                <span ng-if="!vmTurnos.patenteDataFlag">{{ turno.transporte.camion }}</span>
                            </td>
                            <td>{{ turno.transporte.dni }}</td>
                            <td>{{ turno.transporte.celular }}</td>
                            <td>{{ turno.transporte.semi }}</td>
                            <td>{{ turno.mov }}</td>
                            <td>{{ turno.alta | date: 'dd/MM/yyyy HH:mm'  }}</td>
                            <td>{{ turno.email }}</td>
                            <td>{{ turno.verifica | date: 'dd/MM/yyyy HH:mm' }}</td>
                            <td><span title="{{ turno.verifica_turno == 'MA'? 'Mañana' : 'Tarde' }}">{{ turno.verifica_turno | maxLength: 1 }}</span></td>
                            <td><span title="{{ turno.verifica_tipo }}">{{ turno.verifica_tipo | maxLength: 1 }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Solicitud de turnos</h4>
            </div>
            <div class="panel-body">
                <div class="visible-md visible-lg">
                    <div class="col-lg-4">
                        <img src="images/logo_bactssa.png" class="img-responsive center-block" style="width: 30%">
                        <h3 class="text-center"><a href="https://www.bactssa.com.ar/ReservaTurnos/retiro/formulario.jsp" target="_blank">Importación</a> - <a href="https://www.bactssa.com.ar/ReservaTurnos/ingreso/formulario.jsp" target="_blank">Exportación</a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="images/logo_terminal4.png" class="img-responsive center-block" style="width: 50%">
                        <h3 class="text-center"><a href="//webaccess.terminal4.com.ar/t4coordina" target="_blank">Importación</a> - <a href="//webaccess.terminal4.com.ar/preadvise/" target="_blank">Exportación</a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="images/logo_trp.png" class="img-responsive center-block" style="width: 35%">
                        <h3 class="text-center"><a href="//reservas.trp.com.ar" target="_blank">Importación</a> - <a href="//preaviso.trp.com.ar" target="_blank">Exportación</a> - <a href="//devolucionVacios.trp.com.ar" target="_blank">Vacíos</a></h3>
                    </div>
                </div>
                <div class="visible-xs visible-sm">
                    <div class="col-xs-12">
                        <img src="images/logo_bactssa.png" class="img-responsive center-block" style="width: 100%">
                        <h5 class="text-center"><a href="https://www.bactssa.com.ar/ReservaTurnos/retiro/formulario.jsp" target="_blank">Importación</a> - <a href="https://www.bactssa.com.ar/ReservaTurnos/ingreso/formulario.jsp" target="_blank">Exportación</a></h5>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <img src="images/logo_terminal4.png" class="img-responsive center-block" style="width: 100%">
                        <h5 class="text-center"><a href="//webaccess.terminal4.com.ar/t4coordina" target="_blank">Importación</a> - <a href="//webaccess.terminal4.com.ar/preadvise/" target="_blank">Exportación</a></h5>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <img src="images/logo_trp.png" class="img-responsive center-block" style="width: 100%">
                        <h5 class="text-center"><a href="//reservas.trp.com.ar" target="_blank">Importación</a> - <a href="//preaviso.trp.com.ar" target="_blank">Exportación</a> - <a href="//devolucionVacios.trp.com.ar" target="_blank">Vacíos</a></h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>